<div class="main">
    <div  class="activity" >
        <button (click)="refresh()">Refresh</button><br>
        <br>
        {{activities.activity}}
        {{activities.type}}
        {{activities.participants}}
        {{activities.price}}
        {{activities.link}}
        {{activities.key}}
        {{activities.accessibility}}
        
        {{activity.activity}}
        {{activity.type}}
        {{activity.participants}}
        {{activity.price}}
        {{activity.link}}
        {{activity.key}}
        {{activity.accessibility}}

        
    </div>
</div>