
<form [formGroup]="accountForm" action="">

    <h1 *ngIf="!id"><ins>Create Account</ins></h1>
    <h1 *ngIf="id"><ins>Update Account</ins></h1>


    <label for="">Name:</label>
    <input type="text" formControlName="account_name">
    <br>

    
    <label for="">Balance:</label>
    <input type="text" formControlName="available_balance">
    <br>
    
    <label for="">A/C Number:</label>
    <input type="text" formControlName="account_number">
    <br>
    
    <label for="">City:</label>
    <input type="text" formControlName="city">
    <br>
    
    <label  for="">Profile Pic:</label>
    <input type="text" formControlName="profie_picture">
    <br>

    <button  class="btn-danger"  (click)="submit()">{{ id ? 'UPDATE':'SUBMIT'}}</button>

</form>