

<!-- {{vehicles | json}} -->

<div class="main">
    <table class="table ">
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Type</th>
                <th>Fuel</th>
                <th>Color</th>
                <th>Image</th>
                <th>ID</th>
            </tr>

        </thead>
        <tbody  >
            <tr *ngFor="let vehicle of vehicles">

            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td><img height="100px" width="150px" src="{{vehicle.image}}" alt=""></td>
            <td>{{vehicle.id}}</td>
        </tr>


        </tbody>
    </table>
</div>
