

<!-- {{vehicles | json}} -->

<div class="main">
    <input type="text" placeholder="Search" (keyup)="filter()" [(ngModel)]="term">

    <select name="" id="" [(ngModel)]="column" >
        <option value="color">color</option>
        <option value="furl">fuel</option>
    </select>

    <select name="" id="" [(ngModel)]="order">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <button (click)="sort()">sort</button>

    <label >select page</label>
    <select name="" id=""  [(ngModel)]="page" (change)="pagination()">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
    </select>
    <table class="table ">

       
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Type</th>
                <th>Fuel</th>
                <th>Color</th>
                <th>Image</th>
                <th>ID</th>
            </tr>

        </thead>
        <tbody  >
            <tr *ngFor="let vehicle of vehicles">

            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td><img height="100px" width="150px" src="{{vehicle.image}}" alt=""></td>
            <td>{{vehicle.id}}</td>
            <td><button (click)="delete(vehicle.id)" class="btn-danger">delete</button></td>
        </tr>


        </tbody>
    </table>
</div>
