<div class="main">
  <div class="left">
    <div class="top">
        <h1 style="padding: 15px"><ins>MY WEBSITE</ins></h1>
    </div>
    <div class="middle">
        <h2 routerLink="home">HOME</h2>

      <h2 routerLink="about">ABOUT</h2>

      <h2 routerLink="data-binding">DATA BINDING</h2>

      <h2 routerLink="calculator">Calculator</h2>
      <h2 routerLink="rectangle">Rectangle</h2>
      <h2 routerLink="circle">Circle</h2>
      <h2 routerLink="bmi">BMI</h2>
      <h2 routerLink="prime">Prime No. Check</h2>
      <!-- <h2 routerLink="directories">Directories</h2> -->
      <h2 routerLink="directives">Directives</h2>
      <h2 routerLink="marks">Marks</h2>
      <h2 routerLink="shopping">Shopping</h2>
      <h2 routerLink="event">Event</h2>
      <h2 routerLink="cars">Cars</h2>
      <h2 routerLink="bikes" >Bikes</h2>
      <h2 routerLink="employee">Employee Table</h2>
      <h2 routerLink="vehicles">Vehicles</h2>
      <h2 routerLink="accounts">Accounts</h2>
      <h2 routerLink="flipkart">Flipkart</h2>
      <h2 routerLink="mail">Mail</h2>
      <h2 routerLink="activity">Activity</h2>
      <h2 routerLink="memes">Memes</h2>
      <h2 routerLink="students" >Students</h2>
      <h2 routerLink="pushvehicles">Create Vehicles</h2>
      <h2 routerLink="createstudents">Create Students</h2>
      <h2 routerLink="createaccounts">Create Accounts</h2>
      <h2 routerLink="createuser">Create User</h2>
      <br>
      <div class="logout">
        <button (click)="logout()">Logout</button>
    </div>
    </div>
    
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    
     
    </div>
  

